body { 
  margin: 0;
  padding: 0;
  background-color: white;
}

.hour {
  position: absolute;
  top: 9vw;
  left: 40vw;
  width: 20vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(Shape2.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImageB;
  animation-duration: 40s;
  animation-iteration-count: infinite;  
}

.minute {
  position: absolute;
  top: 2vw;
  left: 25vw;
  width: 50vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(Shape.png);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: swapImageA;
  animation-duration: 20s;
  animation-iteration-count: infinite;  
}

.second {
  position: absolute;
  top: 10vw;
  left: 70vw;
  width: 20vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: .6s;
  animation-iteration-count: infinite;
}

.circle {
width: 700px;
height: 700px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 350px;
background: red;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;background-size: contain;
background-position: center center;  
background-repeat: no-repeat;
animation-name: swapImageC;
animation-duration: 1s;
animation-iteration-count: infinite;  

}

body {
  background-color: white; 
}

.wake-up-text {
  color: rgb(180, 4, 12);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  top: 110px;
  left: 470px;
}

.button {
  background-color: rgb(200,200,200);
  border-radius: 100px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.alarming {
  opacity: 1;
  animation-name: pulse;
  animation-duration: .5s;
  animation-iteration-count:infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes swapImageA {

 0% {
    background-image: url(Shape.png);
    
    transform: rotate(0deg);

  }

  50% {
    background-image: url(Shape.png);
    
    transform: rotate(720deg);

  }

  100% {
    background-image: url(Shape.png);
    
    transform: rotate(-0deg); 

  }
}


@keyframes swapImageB {

 0% {
    background-image: url(Shape2.png);
    
    transform-origin: 50% 100%;

    transform: rotate(-0deg);
  
  }



  50% {
    background-image: url(Shape2.png);
    
   transform-origin: 50% 100%;

    transform: rotate(-720deg);

  }


  
  100% {
    background-image: url(Shape2.png);
    
    transform-origin: 50% 100%;

    transform: rotate(0deg);

  }
}


  @keyframes swapImageC {

    0% {
      background-color: white;
    }
    50% {
      background-color: rgb(128,0,0);
    }
100% {
      background-color: white;
    }
  }
   
}




  
  